#Pertemuan 3

#Library

In [ ]:
import numpy as np
import pandas as pd
import scipy
from scipy.stats import chi2
from scipy.spatial.distance import cityblock, mahalanobis

#Dataset

In [ ]:
# dataset untuk perhitungan euclidean distance
P1 = np.array((4,1))
P2 = np.array((1,3))

# dataset kedua untuk perhitungan mahalanobis distance
X = np.array([
    [7.0, 165, 5], 
    [7.4, 160, 5], 
    [7.1, 170, 4], 
    [7.3, 150, 5], 
    [7.2, 160, 3]
])

In [ ]:
print(X.shape)
print(X.ndim)
print(X)

(5, 3)
2
[[  7.  165.    5. ]
 [  7.4 160.    5. ]
 [  7.1 170.    4. ]
 [  7.3 150.    5. ]
 [  7.2 160.    3. ]]

#Calculate Distance

# Manhattan Distance

In [ ]:
mht_dist = cityblock(P1, P2)
print(mht_dist)

5

# Euclidean Distance

In [ ]:
# selisih 2 vectors
temp = P1 - P2

# gunakan formula euclidean di library numpy
euclid_dist = np.sqrt(np.dot(temp.T, temp))
print(euclid_dist)

3.605551275463989

# Mahalanobis Distance

In [ ]:
# hitung kovarians dan inverse kovarian dari dataset
cov = np.cov(X.T)
inv_cov = np.linalg.inv(cov)

# dua data baru dalam dataset
x1 = np.array([7.1, 145, 3])
x2 = np.array([6.0, 100, 5])

# hitung jarak Mahalanobis antara 2 titik
mhln_dist = mahalanobis(x1, x2, inv_cov)
print(mhln_dist)

15.370699331286659

# Tugas



*   Tentukan mahalanobis distance untuk setiap row yang ada di data ini
*   Normalisasi juga hasil mahalanobis distance menggunakan perhitungan p-value

1. Mahalanobis distance

In [35]:
def calculateMahalanobis(y, data, cov = None):
    y_mu =  y- np.mean(data, axis=0)

    if cov is None:
        cov = np.cov(data.T)

    invCov = np.linalg.inv(cov)
    left_term = np.dot(y_mu, invCov)
    mahalanobis = np.dot(left_term, y_mu.T)

    return mahalanobis.diagonal()

In [37]:
data={"Diameter (f1)":[7.0,7.4,7.1,7.3,7.2,7.1,6.0], "Berat (f2)":[165,160,170,150,160,145,100], "Tingkat Kemerahan (f3)":[5,5,4,5,3,3,5]}

df = pd.DataFrame(data)
df['Mahalanobis'] = calculateMahalanobis(y=df, data=df[['Diameter (f1)', 'Berat (f2)', 'Tingkat Kemerahan (f3)']])

df['p'] = 1 - chi2.cdf(df['Mahalanobis'], 3)
df

   Diameter (f1)  Berat (f2)  Tingkat Kemerahan (f3)  Mahalanobis         p
0            7.0         165                       5     2.444376  0.485428
1            7.4         160                       5     1.940472  0.584853
2            7.1         170                       4     1.999789  0.572450
3            7.3         150                       5     2.301735  0.512189
4            7.2         160                       3     1.845689  0.605043
5            7.1         145                       3     2.483532  0.478275
6            6.0         100                       5     4.984406  0.172943