#Pertemuan 2

#Library

* Install Library
* Deklrasi Library
* Library bisa disebut sebagai kumpulan kode yang dapat digunakan berulang kali dalam program yang berbeda
* https://www.geeksforgeeks.org/libraries-in-python/

In [1]:
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.8/dist-packages (0.14.0)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (3.5.3)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.22.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (23.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.17.1->mlxtend) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7->matplotlib>=1.5.1->mlxtend) (1.15.0)

In [2]:
import pandas as pd
import numpy as np

from mlxtend.frequent_patterns import apriori, association_rules

# Dataset

* Membuat dataset transaksi sebagai dataframe
* Cek dataset transaksi

In [3]:
# Membuat data  tabular yang terdiri dari data transaksi
df = pd.DataFrame({'ID Transaksi' : pd.Series([1,2,3,4,5]),
                   'Item' : pd.Series([['Susu', 'Roti', 'Biskuit', 'Mentega'],
                                       ['Susu', 'Biskuit', 'Gula', 'Kopi'],
                                       ['Gula', 'Kopi', 'Susu'],
                                       ['Kopi', 'Biskuit', 'Susu', 'Gula'],
                                       ['Mentega', 'Roti', 'Kopi']])
                   }
                  )

# Menampilkan info dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID Transaksi  5 non-null      int64
 1   Item          5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [4]:
df

   ID Transaksi                            Item
0             1  [Susu, Roti, Biskuit, Mentega]
1             2     [Susu, Biskuit, Gula, Kopi]
2             3              [Gula, Kopi, Susu]
3             4     [Kopi, Biskuit, Susu, Gula]
4             5           [Mentega, Roti, Kopi]

# Encoding Data Transaksi

In [5]:
# encoding  = memecah data
df = df.explode('Item')
df

   ID Transaksi     Item
0             1     Susu
0             1     Roti
0             1  Biskuit
0             1  Mentega
1             2     Susu
1             2  Biskuit
1             2     Gula
1             2     Kopi
2             3     Gula
2             3     Kopi
2             3     Susu
3             4     Kopi
3             4  Biskuit
3             4     Susu
3             4     Gula
4             5  Mentega
4             5     Roti
4             5     Kopi

In [6]:
basket = (df.groupby(['ID Transaksi', 'Item'])['Item'].count()\
                                      .unstack().reset_index().fillna(0) \
                                      .set_index('ID Transaksi'))
basket.head()

Item          Biskuit  Gula  Kopi  Mentega  Roti  Susu
ID Transaksi
1                 1.0   0.0   0.0      1.0   1.0   1.0
2                 1.0   1.0   1.0      0.0   0.0   1.0
3                 0.0   1.0   1.0      0.0   0.0   1.0
4                 1.0   1.0   1.0      0.0   0.0   1.0
5                 0.0   0.0   1.0      1.0   1.0   0.0

#Algoritma Apriori

Eksekusi program apriori menggunakan library mlxtend dengan fungsi apriori

# Apriori Tahap 1

Eliminasi itemset berdasarkan minimun support

In [7]:
frequent_itemsets = apriori(basket, min_support = 0.6, use_colnames=True)

# print(list(frequent_itemsets))

frequent_itemsets

   support            itemsets
0      0.6           (Biskuit)
1      0.6              (Gula)
2      0.8              (Kopi)
3      0.8              (Susu)
4      0.6     (Biskuit, Susu)
5      0.6        (Kopi, Gula)
6      0.6        (Susu, Gula)
7      0.6        (Susu, Kopi)
8      0.6  (Susu, Kopi, Gula)

#Apriori Tahap 2
Perhitungan confidence

In [8]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.6)
rules[['antecedents', 'consequents', 'support', 'confidence']]

     antecedents   consequents  support  confidence
0      (Biskuit)        (Susu)      0.6        1.00
1         (Susu)     (Biskuit)      0.6        0.75
2         (Kopi)        (Gula)      0.6        0.75
3         (Gula)        (Kopi)      0.6        1.00
4         (Susu)        (Gula)      0.6        0.75
5         (Gula)        (Susu)      0.6        1.00
6         (Susu)        (Kopi)      0.6        0.75
7         (Kopi)        (Susu)      0.6        0.75
8   (Kopi, Susu)        (Gula)      0.6        1.00
9   (Susu, Gula)        (Kopi)      0.6        1.00
10  (Kopi, Gula)        (Susu)      0.6        1.00
11        (Susu)  (Kopi, Gula)      0.6        0.75
12        (Kopi)  (Susu, Gula)      0.6        0.75
13        (Gula)  (Kopi, Susu)      0.6        1.00

#Tugas Tambahan
1. Minimun support 40%

Tahap 1

In [9]:
frequent_itemsets = apriori(basket, min_support = 0.4, use_colnames=True)

frequent_itemsets

    support                     itemsets
0       0.6                    (Biskuit)
1       0.6                       (Gula)
2       0.8                       (Kopi)
3       0.4                    (Mentega)
4       0.4                       (Roti)
5       0.8                       (Susu)
6       0.4              (Biskuit, Gula)
7       0.4              (Biskuit, Kopi)
8       0.6              (Biskuit, Susu)
9       0.6                 (Kopi, Gula)
10      0.6                 (Susu, Gula)
11      0.6                 (Susu, Kopi)
12      0.4              (Mentega, Roti)
13      0.4        (Biskuit, Kopi, Gula)
14      0.4        (Biskuit, Susu, Gula)
15      0.4        (Susu, Biskuit, Kopi)
16      0.6           (Susu, Kopi, Gula)
17      0.4  (Susu, Biskuit, Kopi, Gula)

Tahap 2

In [10]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.4)
rules[['antecedents', 'consequents', 'support', 'confidence']]

              antecedents            consequents  support  confidence
0               (Biskuit)                 (Gula)      0.4    0.666667
1                  (Gula)              (Biskuit)      0.4    0.666667
2               (Biskuit)                 (Kopi)      0.4    0.666667
3                  (Kopi)              (Biskuit)      0.4    0.500000
4               (Biskuit)                 (Susu)      0.6    1.000000
5                  (Susu)              (Biskuit)      0.6    0.750000
6                  (Kopi)                 (Gula)      0.6    0.750000
7                  (Gula)                 (Kopi)      0.6    1.000000
8                  (Susu)                 (Gula)      0.6    0.750000
9                  (Gula)                 (Susu)      0.6    1.000000
10                 (Susu)                 (Kopi)      0.6    0.750000
11                 (Kopi)                 (Susu)      0.6    0.750000
12              (Mentega)                 (Roti)      0.4    1.000000
13                 (Roti)              (Mentega)      0.4    1.000000
14        (Biskuit, Kopi)                 (Gula)      0.4    1.000000
15        (Biskuit, Gula)                 (Kopi)      0.4    1.000000
16           (Kopi, Gula)              (Biskuit)      0.4    0.666667
17              (Biskuit)           (Kopi, Gula)      0.4    0.666667
18                 (Kopi)        (Biskuit, Gula)      0.4    0.500000
19                 (Gula)        (Biskuit, Kopi)      0.4    0.666667
20        (Biskuit, Susu)                 (Gula)      0.4    0.666667
21        (Biskuit, Gula)                 (Susu)      0.4    1.000000
22           (Susu, Gula)              (Biskuit)      0.4    0.666667
23              (Biskuit)           (Susu, Gula)      0.4    0.666667
24                 (Susu)        (Biskuit, Gula)      0.4    0.500000
25                 (Gula)        (Biskuit, Susu)      0.4    0.666667
26        (Biskuit, Susu)                 (Kopi)      0.4    0.666667
27           (Kopi, Susu)              (Biskuit)      0.4    0.666667
28        (Biskuit, Kopi)                 (Susu)      0.4    1.000000
29                 (Susu)        (Biskuit, Kopi)      0.4    0.500000
30              (Biskuit)           (Kopi, Susu)      0.4    0.666667
31                 (Kopi)        (Biskuit, Susu)      0.4    0.500000
32           (Kopi, Susu)                 (Gula)      0.6    1.000000
33           (Susu, Gula)                 (Kopi)      0.6    1.000000
34           (Kopi, Gula)                 (Susu)      0.6    1.000000
35                 (Susu)           (Kopi, Gula)      0.6    0.750000
36                 (Kopi)           (Susu, Gula)      0.6    0.750000
37                 (Gula)           (Kopi, Susu)      0.6    1.000000
38  (Kopi, Biskuit, Susu)                 (Gula)      0.4    1.000000
39  (Biskuit, Susu, Gula)                 (Kopi)      0.4    1.000000
40     (Kopi, Susu, Gula)              (Biskuit)      0.4    0.666667
41  (Biskuit, Kopi, Gula)                 (Susu)      0.4    1.000000
42        (Biskuit, Susu)           (Kopi, Gula)      0.4    0.666667
43           (Kopi, Susu)        (Biskuit, Gula)      0.4    0.666667
44           (Susu, Gula)        (Biskuit, Kopi)      0.4    0.666667
45        (Biskuit, Kopi)           (Susu, Gula)      0.4    1.000000
46        (Biskuit, Gula)           (Kopi, Susu)      0.4    1.000000
47           (Kopi, Gula)        (Biskuit, Susu)      0.4    0.666667
48                 (Susu)  (Biskuit, Kopi, Gula)      0.4    0.500000
49              (Biskuit)     (Kopi, Susu, Gula)      0.4    0.666667
50                 (Kopi)  (Biskuit, Susu, Gula)      0.4    0.500000
51                 (Gula)  (Kopi, Biskuit, Susu)      0.4    0.666667

Manual

In [14]:
transactions = [
    ['Susu', 'Roti', 'Biskuit', 'Mentega'],
    ['Susu', 'Biskuit', 'Gula', 'Kopi'],
    ['Gula', 'Kopi', 'Susu'],
    ['Kopi', 'Biskuit', 'Susu', 'Gula'],
    ['Mentega', 'Roti', 'Kopi']
]

item_counts = {}
for transaction in transactions:
    for item in transaction:
        if item not in item_counts:
            item_counts[item] = 1
        else:
            item_counts[item] += 1

min_support = 0.4
frequent_items = {}
for item, count in item_counts.items():
    if count / len(transactions) >= min_support:
        frequent_items[item] = count / len(transactions)

candidates = []
for item1 in frequent_items.keys():
    for item2 in frequent_items.keys():
        if item1 != item2:
            candidates.append([item1, item2])

candidate_counts = {}
for transaction in transactions:
    for candidate in candidates:
        if set(candidate).issubset(set(transaction)):
            candidate_key = ','.join(candidate)
            if candidate_key not in candidate_counts:
                candidate_counts[candidate_key] = 1
            else:
                candidate_counts[candidate_key] += 1

frequent_itemsets = {}
for candidate, count in candidate_counts.items():
    support = count / len(transactions)
    if support >= min_support:
        frequent_itemsets[candidate] = support

print("Frequent Itemsets:")
for itemset, support in frequent_itemsets.items():
    print(itemset.split(','), support)

Frequent Itemsets:
['Susu', 'Biskuit'] 0.6
['Roti', 'Mentega'] 0.4
['Biskuit', 'Susu'] 0.6
['Mentega', 'Roti'] 0.4
['Susu', 'Gula'] 0.6
['Susu', 'Kopi'] 0.6
['Biskuit', 'Gula'] 0.4
['Biskuit', 'Kopi'] 0.4
['Gula', 'Susu'] 0.6
['Gula', 'Biskuit'] 0.4
['Gula', 'Kopi'] 0.6
['Kopi', 'Susu'] 0.6
['Kopi', 'Biskuit'] 0.4
['Kopi', 'Gula'] 0.6